# ===========================
# Python cache
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===========================
# OS / editor junk
# ===========================
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# ===========================
# Virtual environment
# ===========================
venv/
env/
.env
